// Light theme colors
$first-color: #f6f6f6;
$second-color: #d6e4f0;
$third-color: #1e56a0;
$fourth-color: #163172; 
$fifth-color: #fbf9fa; 
$sixth-color: #fd0054; 
$seventh-color: #a80038; 
$eigth-color: #2b2024; 

// Dark theme colors
$dark-first-color: #152744; 
$dark-second-color: #367591; 
$dark-third-color: #61d2b4; 
$dark-fourth-color: #9dfdc7;
