// Light theme colors
$first-color: #F1FAEE;
$second-color: #A8DADC;
$third-color: #457B9D;
$fourth-color: #1D3557; 
$fifth-color: #E63946; 

// Dark theme colors
$dark-first-color: #152744; 
$dark-second-color: #367591; 
$dark-third-color: #61d2b4; 
$dark-fourth-color: #9dfdc7;
