/* Dark Mode Styles for Body */
body.dark-theme {
  background-color: #152744;
  color: #F1FAEE;
}

/* Dark Mode Styles for H1 and Links */
body.dark-theme h1 {
  color: #9dfdc7;
}

body.dark-theme a {
  color: #61d2b4;
}
body.dark-theme a:hover {
  text-decoration: underline;
}

/* Dark Mode Styles for Form */
body.dark-theme form {
  background-color: #367591;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-theme form:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Dark Mode Styles for Inputs and Buttons */
body.dark-theme input[type=file],
body.dark-theme input[type=text],
body.dark-theme input[type=submit],
body.dark-theme button {
  border: none;
}

body.dark-theme input[type=submit] {
  background-color: #61d2b4;
  color: #F1FAEE;
}

body.dark-theme input[type=submit]:hover {
  background-color: #39c7a1;
}

body.dark-theme .upload-button {
  background-color: #9dfdc7;
  color: #152744;
}

body.dark-theme .upload-button:hover {
  background-color: #6bfcaa;
}

body.dark-theme .cleanupButton {
  color: #152744;
}

body.dark-theme .cleanupButton:hover {
  color: #09111d;
}

body.dark-theme .loading-spinner {
  background: #9dfdc7;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #F1FAEE;
  padding: 20px;
}

h1 {
  color: #1D3557;
  text-align: center;
}

p {
  color: #457B9D;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

a {
  color: #457B9D;
  text-decoration: none;
  font-weight: bold;
  margin: 0 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
a:hover {
  text-decoration: underline;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #A8DADC;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
form:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

input[type=file],
input[type=text],
input[type=submit],
button {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input[type=submit] {
  background-color: #457B9D;
  color: #F1FAEE;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
input[type=submit]:hover {
  background-color: #355f7a;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type=file] {
  padding: 10px 0;
  border: none;
}
input[type=file]:focus {
  outline: none;
}

.file-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.fa-upload {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.cleanupButton {
  background-color: #E63946;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}
.cleanupButton:hover {
  background-color: #d21a28;
}

.upload-button {
  background-color: #457B9D;
  color: #F1FAEE;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.upload-button:hover {
  background-color: #355f7a;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

/* Styles for Dark Mode Toggle Button Container */
.dark-mode-toggle-container {
  display: flex; /* Use flexbox layout */
  justify-content: flex-end; /* Align the button to the right */
  align-items: center; /* Align items vertically to the center */
}

/* Styles for Dark Mode Toggle Button */
.dark-mode-toggle {
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin: 5px;
  width: auto;
  margin-left: auto;
  /* Light Mode Styles */
  background-color: transparent; /* Background color for light mode */
  color: #457B9D; /* Text color for light mode */
  border: none;
  /* Hover effect for light mode */
  /* Dark Mode Styles */
  /* Styles for Font Awesome icons */
}
.dark-mode-toggle:hover {
  color: #355f7a; /* Darken the color by 10% on hover in light mode */
}
.dark-mode-toggle.dark-theme {
  background-color: transparent; /* Background color for dark mode */
  color: #61d2b4; /* Text color for dark mode */
  /* Hover effect for dark mode */
}
.dark-mode-toggle.dark-theme:hover {
  color: #28576c; /* Darken the color by 10% on hover in dark mode */
}
.dark-mode-toggle i {
  font-size: 24px; /* Adjust the icon size */
  margin-right: 5px; /* Add some spacing between the icon and text */
}

.loading-spinner {
  position: absolute;
  top: calc(50% - 10px); /* Position it in the middle vertically (10px is half the size of the spinner) */
  left: calc(100% + 10px); /* Position it just to the right of the "Choose file" label with a 10px gap */
  transform: translate(-50%, -50%);
  padding: 15px;
  background: #1D3557;
  z-index: 99999;
  aspect-ratio: 1;
  border-radius: 50%;
  --_m:
      conic-gradient(#0000,#000),
      linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */