// main.scss


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


h1 {
    color: #333;
    text-align: center;
}
a {
    color: #007bff;
    text-decoration: none;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type='file'],
input[type='text'],
input[type='submit'],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #0056b3;
}

label {
    margin-top: 10px;
    display: block;
}