// main.scss
@import 'colors';
@import 'dark-theme';

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: $first-color;
    padding: 20px;
}

h1 {
    color: $fourth-color;
    text-align: center;
}
p {
    color: $third-color;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
a {
    color: $third-color;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: $second-color;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

input[type='file'],
input[type='text'],
input[type='submit'],
button {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0; // Updated for consistency
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type='submit'] {
    background-color: $third-color;
    color: $first-color;
    border: none;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        background-color: darken($third-color, 10%);
    }
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type='file'] {
    padding: 10px 0;
    border: none;
    &:focus {
        outline: none;
    }
}
.file-label {
    display: inline-block;
    position: relative;
    padding-left: 30px; // Adjust icon position
    cursor: pointer;
    margin-bottom: 10px;
}

.file-input {
    display: none;
}

.fa-upload {
    position: absolute;
    left: 5px; // Adjust icon position
    top: 50%;
    transform: translateY(-50%);
}

.cleanupButton {
    background-color: $fifth-color;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    &:hover {
        background-color: darken($fifth-color, 10%);
    }
}
.upload-button {
    background-color: $third-color;
    color: $first-color;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add transition effect */
}

.upload-button:hover {
    background-color: darken($third-color, 10%);
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Styles for Dark Mode Toggle Button Container */
.dark-mode-toggle-container {
    display: flex; /* Use flexbox layout */
    justify-content: flex-end; /* Align the button to the right */
    align-items: center; /* Align items vertically to the center */
}

/* Styles for Dark Mode Toggle Button */
.dark-mode-toggle {
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    margin: 5px;
    width: auto;
    margin-left: auto;


    /* Light Mode Styles */
    background-color: transparent; /* Background color for light mode */
    color: $third-color; /* Text color for light mode */
    border: none;

    /* Hover effect for light mode */
    &:hover {
        color: darken($third-color, 10%); /* Darken the color by 10% on hover in light mode */
    }

    /* Dark Mode Styles */
    &.dark-theme {
        background-color: transparent; /* Background color for dark mode */
        color: $dark-third-color; /* Text color for dark mode */

        /* Hover effect for dark mode */
        &:hover {
            color: darken($dark-second-color, 10%); /* Darken the color by 10% on hover in dark mode */
        }
    }

    /* Styles for Font Awesome icons */
    i {
        font-size: 24px; /* Adjust the icon size */
        margin-right: 5px; /* Add some spacing between the icon and text */
    }
}
.loading-spinner {
    position: absolute;
    top: calc(50% - 10px); /* Position it in the middle vertically (10px is half the size of the spinner) */
    left: calc(100% + 10px); /* Position it just to the right of the "Choose file" label with a 10px gap */
    transform: translate(-50%, -50%);
    padding: 15px;
    background: $fourth-color;
    z-index: 99999;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m:
        conic-gradient(#0000,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
        mask: var(--_m);
    -webkit-mask-composite: source-out;
        mask-composite: subtract;
    box-sizing: border-box;
    animation: spin 1s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}