
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    </head>
    <body>
        <script>
            // Check local storage for dark mode state and apply it
            const isDarkMode = localStorage.getItem('darkMode') === 'true';
            document.body.classList.toggle('dark-theme', isDarkMode);
        </script>
        <div class="dark-mode-toggle-container">
            <!-- Dark Mode Toggle Button with initial sun icon -->
            <button id="darkModeToggle" class="dark-mode-toggle" onclick="toggleDarkMode()">
                <i id="darkModeIcon" class="fas fa-sun"></i> <!-- Sun icon for light mode -->
            </button>
        </div>
        <h1>3D Gaussian Splatting</h1> 
        <script src="{{ url_for('static', filename='dark-mode.js') }}"></script>

        <!-- Button to go to the upload page -->
        <div class="link-container">
            <a href="/upload" class="button">Upload Page</a>
            <a href="/splat" class="button">Splat Viewer</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/three@0.141.0/build/three.min.js"></script>
        <div id="threejs-container"></div>
        <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
       
    </body>       