
<head>
    <title>Upload Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>3D Gaussian Splatting Video Processing</h1>
        <!-- Button to go to the upload page -->
        <div class="link-container">
            <a href="/" class="button">Go to Home Page</a>
            <a href="/splat" class="button">Go to Splat Viewer</a>
        </div>
    
        <form method="post" enctype="multipart/form-data">
            
            <label for="file">Video File</label>
            <input type="file" id="file" name="file">

            <label for="fps">Frames per Second (FPS)</label>
            <input type="text" id="fps" name="fps" value="2" >

            <label for="iterations_1">Training iterations of the first Gaussian model</label>
            <input type="text" id="iterations_1" name="iterations_1" placeholder="7000" required>
            
            <label for="iterations_2">Training iterations of the second Gaussian model</label>
            <input type="text" id="iterations_2" name="iterations_2" placeholder="30000" required>    

            <input type="submit" value="Upload">
            <button id="cleanupButton">Clean Data</button>
        </form>
        <script src="{{ url_for('static', filename='cleanup.js') }}"></script>
</body>

