<head>
    <title>Upload Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Upload a Video File</h1>
    <form method="post" enctype="multipart/form-data">
        
        <input type="file" name="file">
        <label for="fps">Frames per Second (FPS):</label>
        <input type="text" id="fps" name="fps" value="2">

        <label for="iterations_1">Iterations (First):</label>
        <input type="text" id="iterations_1" name="iterations_1"  required>
        
        <label for="iterations_2">Iterations (Second):</label>
        <input type="text" id="iterations_2" name="iterations_2" required>    

        <input type="submit" value="Upload">

    </form>
</body>

